.StartingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.2rem 3.2rem;
  position: relative;
  @media screen and (min-height: 600px) {
    justify-content: center;
  }

  h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: auto;

    @media screen and (min-height: 600px) {
      margin-bottom: 9rem;
    }
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .Choices {
    display: flex;
    gap: 2.5rem;
  }

  .GameModeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    .Mode {
      font-size: 2rem;
    }
  }
}
